{% extends "base.html" %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block title %}
    {% trans "Services" %}
{% endblock %}

{% block page_header %}
    {% trans "Index" as subtitle_x %}
    {% with title=page.title subtitle=subtitle_x %}
        {% include "includes/page_header.html" %}
    {% endwith %}
{% endblock %}

{% block content %}

    {% if page.is_catalog %}
        <ul>
            {% for subpage in subpages %}
                <li><a href="{% pageurl subpage %}">{{ subpage }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        {% for category, services in categories %}
            <ul>
                <li>
                    {{ category }}
                    {% if services.count > 0 %}
                        <ul>
                            {% for service in services %}
                                <li>
                                    <a href="{% pageurl service %}">{{ service }}</a>
                                    {% if service.has_requests %}
                                        <ul>
                                            {% for request in service.menu_items %}
                                                <li>
                                                    {{ request }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            </ul>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block sidebar %}
{% endblock %}