{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Service" %} - {{ service.title }}
{% endblock %}

{% block page_header %}
    {% trans "Service" as subtitle_x %}
    {% with title=service.title subtitle=subtitle_x %}
        {% include "includes/page_header.html" %}
    {% endwith %}
{% endblock %}

{% block content %}

    <div class="well">
        <b>{% trans "Type" %}</b> {{ service.get_type_display }} &bull;
        <b>{% trans "Category" %}</b> {{ service.category }} &bull;
        <b>{% trans "Priority" %}</b> {{ service.get_priority_display }} &bull;
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">{% trans "Overview" %}</a></li>
        <li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab">{% trans "Relationships" %}</a></li>
        <li role="presentation"><a href="#menu" aria-controls="menu" role="tab" data-toggle="tab">{% trans "Menu" %}</a></li>
        <li role="presentation"><a href="#administration" aria-controls="administration" role="tab" data-toggle="tab">{% trans "Administration" %}</a></li>
  </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="overview">
            <h2>{% trans "Overview" %}</h2>
            {% if service.description %}
                <p>{{ service.description|linebreaksbr }}</p>
            {% else %}
                <p>{% trans "No description has been provided for this service." %}</p>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="relationships">
            <h2>{% trans "Relationships" %}</h2>

            <h3>{% trans "Products" %}</h3>
            {% if service.has_products %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th>{% trans "Vendor" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in service.products.all %}
                        <tr>
                            <td>{{ product.title }}</td>
                            <td>{{ product.description}}</td>
                            <td>{{ product.vendor }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    {% trans "No products have been associated with this service." %}
                </p>
            {% endif %}

            <h3>{% trans "Supporting Services" %}</h3>
            {% if service.has_supporting %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "Type" %}</th>
                            <th>{% trans "Category" %}</th>
                            <th>{% trans "Purpose" %}</th>
                            <th>{% trans "Scope" %}</th>
                            <th>{% trans "Assigned To" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supporting in service.get_supporting %}
                        <tr>
                            <td>{{ supporting.title }}</td>
                            <td>{{ supporting.get_type_display }}</td>
                            <td>{{ supporting.category }}</td>
                            <td>{{ supporting.get_purpose_display }}</td>
                            <td>{{ supporting.get_scope_display }}</td>
                            <td>{{ supporting.assignment }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p><i>{{ service.title }}</i> {% trans "does not depend on any other service." %}</p>
            {% endif %}

            <h3>{% trans "Dependent Services" %}</h3>
            {% if service.has_dependents %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "Type" %}</th>
                            <th>{% trans "Category" %}</th>
                            <th>{% trans "Purpose" %}</th>
                            <th>{% trans "Scope" %}</th>
                            <th>{% trans "Assigned To" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dependent in service.get_dependents %}
                        <tr>
                            <td>{{ dependent.title }}</td>
                            <td>{{ dependent.get_type_display }}</td>
                            <td>{{ dependent.category }}</td>
                            <td>{{ dependent.get_purpose_display }}</td>
                            <td>{{ dependent.get_scope_display }}</td>
                            <td>{{ dependent.assignment }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{% trans "No services depend on" %} <i>{{ service.title }}</i></p>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="menu">
             <h2>{% trans "Requests" %}</h2>
            {% if service.has_requests %}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans "Grouping" %}</th>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "Description" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in service.menu_items %}
                        <tr>
                            <td>
                                {% if request.show_in_all_groups %}
                                    {% trans "(Commonly Available)" %}
                                {% else %}
                                    {{ request.grouping }}
                                {% endif %}
                            </td>
                            <td>{{ request.title}}</td>
                            <td>{{ request.description}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    {% trans "No menu items have been associated with this service." %}
                </p>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="administration">
            <h2>{% trans "Administration" %}</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th>{% trans "Budget" %}</th>
                        <td>{{ service.budget }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Last Review" %}</th>
                        <td>{{ service.last_review_dt }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Next Review" %}</th>
                        <td>{{ service.next_review_dt }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Stage" %}</th>
                        {% trans "Not Specific" as no_lifecycle_x %}
                        <td>{{ service.lifecycle|default_if_none:no_lifecycle_x }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Status" %}</th>
                        <td>{{ service.get_portfolio_display }}</td>
                    </tr>
                </tbody>
            </table>

            {% if service.has_agreements %}
                <h3>{% trans "Agreements" %}</h3>
                {% trans "No Title Available" as no_title_x %}
                <ul>
                    {% for agreement in service.agreements.all %}
                        <li>
                            <a href="{{ agreement.link }}">{{ agreement.title|default_if_none:no_title_x }}</a>
                        </li>
                    {% endfor %}

                </ul>
            {% endif %}

        </div>
  </div>

{% endblock %}

{% block sidebar %}
    <table class="table">
        <tbody>
            <tr>
                <th>{% trans "Title" %}</th>
                <td>{{ service.title }}</td>
            </tr>
            <tr>
                <th>{% trans "Type" %}</th>
                <td>{{ service.get_type_display}}</td>
            </tr>
            <tr>
                <th>{% trans "Category" %}</th>
                <td>{{ service.category }}</td>
            </tr>
            <tr>
                <th>{% trans "Scope" %}</th>
                <td>{{ service.get_scope_display}}</td>
            </tr>
            <tr>
                <th>{% trans "Purpose" %}</th>
                <td>{{ service.get_purpose_display}}</td>
            </tr>
            <tr>
                <th>{% trans "Priority" %}</th>
                <td>{{ service.get_priority_display }}</td>
            </tr>
            <tr>
                <th>{% trans "Assigned To" %}</th>
                <td>{{ service.assignment }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}